<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{.}}</title>
</head>

<body>
    <div style="width:500px; margin:50px auto;">
        <form action="" method="post">
            <table>
                <tr>
                    <td>备份名称</td>
                    <td>
                        <input type="text" name="name" placeholder="备份名称" value="">
                    </td>
                </tr>
                <tr>
                    <td>Mysql服务器Host</td>
                    <td>
                        <input type="text" name="mysqlHost" placeholder="Mysql服务器Host" value="">
                    </td>
                </tr>
                <tr>
                    <td>Mysql服务器用户名</td>
                    <td>
                        <input type="text" name="mysqlUser" placeholder="Mysql服务器用户名" value="">
                    </td>
                </tr>
                <tr>
                    <td>Mysql服务器密码</td>
                    <td>
                        <input type="text" name="mysqlPass" placeholder="Mysql服务器密码" value="">
                    </td>
                </tr>
                <tr>
                    <td>Mysql服务器端口默认3306</td>
                    <td>
                        <input type="text" name="mysqlPort" placeholder="Mysql服务器端口默认3306" value="3306">
                    </td>
                </tr>
                <tr>
                    <td>Mysql服务器数据库名</td>
                    <td>
                        <input type="text" name="mysqlDb" placeholder="Mysql服务器数据库名" value="">
                    </td>
                </tr>
                <tr>
                    <td>FTP服务器Host</td>
                    <td>
                        <input type="text" name="ftpHost" placeholder="FTP服务器Host" value="">
                    </td>
                </tr>
                <tr>
                    <td>FTP服务器用户名</td>
                    <td>
                        <input type="text" name="ftpUser" placeholder="FTP服务器用户名" value="">
                    </td>
                </tr>
                <tr>
                    <td>FTP服务器密码</td>
                    <td>
                        <input type="text" name="ftpPass" placeholder="FTP服务器密码" value="">
                    </td>
                </tr>
                <tr>
                    <td>FTP服务器端口默认21</td>
                    <td>
                        <input type="text" name="ftpPort" placeholder="FTP服务器端口默认21" value="21">
                    </td>
                </tr>
                <tr>
                    <td>FTP服务器-本地目录</td>
                    <td>
                        <input type="text" name="LocalDir" placeholder="FTP服务器-本地目录" value="填了也没用">
                    </td>
                </tr>
                <tr>
                    <td>FTP服务器-线上目录</td>
                    <td>
                        <input type="text" name="ServerDir" placeholder="FTP服务器-线上目录" value="/htdocs">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit">
                    </td>
                </tr>
            </table>

        </form>

    </div>
</body>

</html>
